<config>

  <filename>/home/jack/workingcopies/domesticPowerData/BellendenRd/currentCost/data.csv</filename>

  <monitor id="A">
    <serialport>/dev/ttyUSB0</serialport>
    <mapping>
      0, 1, ct
      1, 2, blah
      2, 3, hello
    </mapping>
  </monitor>

<!--
  <monitor id="B">
    <serialport>/dev/ttyUSB1</serialport>
    <mapping>
      1, 10, blah
      2, 11, hello
    </mapping>
  </monitor>
-->

  <monitor id="C">
    <serialport>/dev/ttyUSB2</serialport>
    <mapping>
      1, 10, blah
      2, 11, hello
    </mapping>
  </monitor>


</config>
